
<div class="container">
    <div class="row">
        <h1 class="display-4">Delete A Flow</h1>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row" ng-controller="ManageCtrl">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label>Choose File</label>
                            <div class="form-group">
                                <flowchartddl></flowchartddl>
                            </div>
                            <button type="button" class="btn btn-danger" data-toggle="modal" ng-disabled="itemSelected" data-target="#DeleteChart">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="modal fade" id="DeleteChart" tabindex="-1" role="dialog" aria-labelledby="DeleteChart" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Flow?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this flow?
                        <br /><br />
                        <p class="text-danger">Note: Once you delete a flow, you can never retrieve it back to the original.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="DeleteFlowChart()" class="btn btn-danger">Delete Flow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

