<style type="text/css">
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1005; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */


    .modal-content {
        background-color: #fefefe;
        /*margin: 4% auto;*/
        margin-right: 0%;
        padding: 11px;
        border: 1px solid #888;
        width: auto;
        overflow-x: scroll;
        height: auto;
        /*float: right;*/
        position: relative;
        bottom: 0px;
        margin-left: 2px;
    }

    /*.modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            margin-right: 2%;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            height: auto;
            float: right;
        }*/


    .smallUpload {
        float: right;
        font-weight: bold;
        margin: 3%;
    }

        .smallUpload:hover,
        .smallUpload:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .slick-slide {
        margin: 0px 1px;
    }

        .slick-slide img {
            width: 100%;
        }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    .container {
        width: 800px;
        margin: 0 auto;
    }



    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

            ul.tabs li.current {
                background: #ededed;
                color: #222;
            }

    .tab-content {
        display: none;
        background: #ededed;
        padding: 15px;
    }

        .tab-content.current {
            display: inherit;
        }


</style>


<div>

   
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Business Flows</h1>
                

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
Delete Flowchart
                </div><div class="panel-body" ng-controller="MinimalCtrl">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group" >
                                    <label>Choose File</label>
                                    <div class="form-group">
                                        <flowchartddl></flowchartddl>
                                    </div>
                                    <!--<label>FileName</label>
                                    <input class="form-control" id="txtFileName" placeholder="Enter text">-->
                                </div>


                            </form>
                        </div>
                        <div class="col-lg-12" >
                            <form role="form">
                                <div class="form-group">
                                    <div >
                                        <div id="sample">
                                            <div>
                                                <br />
                                                <button type="button" ng-click="DeleteFlowChart()"  class="btn btn-primary">Delete</button>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>


            </div>
        </div>

    </div>
   
</div>

