<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4 text-center">Welcome To Workbench</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Flowchart <a style="color:white" ui-sref="dashboard.CreateFlowChart"><i class="fa fa-plus pull-right" style="font-size:25px;" aria-hidden="true"></i></a></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Manage Flowcharts</h4>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-arrows-v pull-right" style="font-size:50px;" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Test Cases</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Manage Test Cases</h4>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-text pull-right" style="font-size:50px;" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Flowchart</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Manage Downloads</h4>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-download pull-right" style="font-size:50px;" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>