<div ng-controller="registerCtrl as vm" class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <h1 class="display-4">Welcome to Workbench</h1>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <h2>Log In</h2>
            <form class="center-block" ng-submit="vm.login()" name="login" style="margin-top:30px;">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input style="width:300px" name="Email" ng-model="vm.Email" required type="email" class="form-control" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input style="width:300px" name="Password" ng-model="vm.Password" required type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember Me
                    </label>
                </div>
                <div style="margin-left:70px;">
                    <button ng-disabled="login.$invalid" type="submit" class="btn btn-success" style="width:150px;">Log in</button>
                    <i ng-if="dataLoading" class="fa fa-spinner fa-spin" style="font-size:30px;" aria-hidden="true"></i>
                </div>
            </form>
        </div>
    </div>
</div>