<div ng-controller="logoutCtrl" class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <h1 class="display-2">You have been logged out</h1>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-3">

        </div>
        <div class="col-md-8">
            <p class="lead">You will be redirected to the login page in few seconds</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
            <i style="font-size:200px;" class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
