<div class="row">
    <div class="col-md-9">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" ng-show="!jsonxmltoggle">
            <h4>Paste the XML content</h4>

            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <textarea class="form-control" ng-model="xmlpaste" rows="6" cols="100"></textarea>
                <br />
            </div>
            <div class="text-center">
                <button id="generatebutton" class="btn btn-primary" ng-click="clickedGenerate(false)">Click to Generate Test Cases</button>
                <br />
            </div>
        </div>
        <div class="" ng-show="jsonxmltoggle">
            <p class="lead">Pick the JSON file! </p>

            <div>
                <!--<select id="jsonpicker" ng-model="jsonpicker" ng-options="file for file in jsonfiles"> {{file}}</select>-->
                <flowchartddl></flowchartddl>

                <br />
                <br /><br />
            </div>
            <div class="text-center">
                <button id="generatebutton" class="btn btn-primary" ng-click="clickedGenerateJSON(false)">Click to Generate Test Cases</button>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="margin-top:40px" id="pastexml" ng-show="pastexml">
        <div>
            <label class="switch">
                <input type="checkbox" ng-click="toggleJsonXml()">
                <div class="slider round"></div>
            </label>
            <div class="alert alert-dark" role="alert">
                Toggle here to paste the xml file or choose an existing file
            </div>
        </div>
    </div>
</div>
<div class="mdl-card mdl-cell mdl-cell--12-col" id="loader" ng-show="loader">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Generating Test Cases..</h4>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <img style="height:150px; margin-left:35%" src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" />
        </div>
    </div>


</div>


<div style="margin-top:10px;" ng-show="results">
    <div class="">
        <div>
            <h3 id="flwName"></h3>
        </div>
        <div class="">
            <div>
                <div style="width:50%">
                    <h4 id="numberofresults"></h4>
                </div>
                <div class="bg-dark" style="border-radius:10px;">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="text-success">Select the starting node</p>
                            <select id="startNode" class="form-control" ng-model="startNode" ng-change="nodeList()" style="width:200px;"></select>
                        </div>
                        <div class="col-md-5">
                            <p class="text-primary">Select the ending node</p>
                            <select id="endNode" class="form-control" ng-model="endNode" ng-change="nodeList()" style="width:200px;"></select>
                        </div>
                        <div class="col-md-1">
                            <button id="resetFilters" class="btn btn-warning" ng-click="clickedGenerate(true)">
                                Reset
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button ng-click="goBack()" class="btn btn-danger">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table id="testCaseTable" class="display" style="width:100%"></table>
            <p><ul id="testcases"></ul></p>
        </div>
        <br>
    </div>
</div>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: green;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px green;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .wrap {
        width: 85%;
    }
</style>
